<!DOCTYPE html>
<html>
<head>
 <title>Login Fábrica de Software</title>
 <link href="css/login2.css" type="text/css" rel="stylesheet">
 
 <meta charset="utf-8"/>
</head>
<body>  
        
		          
		<img src="https://pbs.twimg.com/profile_images/1354490210/logomarca-FabricadeSoftware.jpg" alt="logomarca" class="logomarca"> 
        <h1 class="center">Login Fábrica de Software</h1>     
 
    
  <div class="form">
   <!-- {% csrf _token %} -->
    <form class="register-form">
      
   
    </form>
    <form class="login-form">
      <label><b>Usuário</b></label>
	  <input type="text" placeholder="Insira seu nome de usuário" required />
      <label><b>Senha</b></label>
	  <input type="password" placeholder="Insira sua Senha" required />
	  <button>Entrar</button>
	   
      
    </form>
  </div>
 
  

</body>


</html>